body {
  margin: 0;
  padding: 0;
}
.container {
  border: solid 1px black;
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board-container {
  border: dotted 1px black;
  width: 80vw;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 3vw;
  border: solid 1px black;
}
.tile:active {
  animation: tilePress 10s linear;
  opacity: 1;
}
.tile.covered {
  color: white;
}

.btn {
  border: solid 1px black;
  margin: 1rem;
  height: 4vh;
  width: 17vw;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3vw;
}
.btn:active {
  transform: translateY(4px);
}

@keyframes tilePress {
  from {
    color: black;

    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
